apiVersion: extensions/v1beta1
kind: Ingress
metadata:
 annotations:
   ingress.kubernetes.io/ssl-redirect: "true"
   kubernetes.io/ingress.class: nginx
   certmanager.k8s.io/cluster-issuer: letsencrypt-labs-jb-gg-dns
   certmanager.k8s.io/acme-challenge-type: dns01
   certmanager.k8s.io/acme-dns01-provider: route53
 labels:
   app: {{ app_name }}
 name: {{ app_name }}
spec:
 tls:
 - hosts:
   - {{ app_name }}.labs.jb.gg
   secretName: kuberos-labs-jb-gg-tls
 rules:
 - host: {{ app_name }}.labs.jb.gg
   http:
     paths:
     - backend:
         serviceName: {{ app_name }}
         servicePort: 80
       path: /
