.gui {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
}

.gui:focus {
    outline: none;
}

.cells {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: block;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    /* background:
        linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.4) 75%, rgba(0,0,0,0.2) 100%); */
    background-color: rgba(0,0,0,0.2);
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    color: white;
    transition: background-color 0.3s ease-in;
}

.selected {
    background-color: rgba(0,200,200,0.2);
}

.focused {
    background-color: rgba(200,0,200,0.2);
}

.focused.selected {
    background-color: rgba(0,200,0,0.2);
}

.focused--0 {
    color: rgba(0, 255, 255, 1);
}

.focused--1 {
    color: rgba(0, 255, 255, .8);
}

.focused--2 {
    color: rgba(0, 255, 255, .6);
}

.focused--3 {
    color: rgba(0, 255, 255, .4);
}

.focused--4 {
    color: rgba(0, 255, 255, .2);
}

.focused--5 {
    color: rgba(0, 255, 255, 0);
}

.hole {
    /* border-color: #333;
    background-color: rgba(0, 0, 0, 0.3); */
    border-color: transparent;
    background: none;
}
