body {
    margin: 0;
}

#patch-target {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}

.rpd-background {
    fill: transparent !important; /* FIXME: is it not possible to set it in RPD? */
    pointer-events: none;
}

.rpd-node-box {
    pointer-events: all;
}

.fps {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
}

.rpd-node.rpd-jb-layers .rpd-process text {
    dominant-baseline: hanging;
}

.rpd-jb-palette-variant rect {
    stroke: black;
    stroke-width: 1px;
}

.rpd-jb-palette-variant.rpd-jb-active-variant rect {
    stroke: white;
}

text.rpd-jb-active-label {
    fill: white;
}

.rpd-patch text.rpd-jb-product-label {
    font-size: 8px;
}

#export-target, #import-target {
    display: none;
    position: absolute;
    top: 10%;
    left: 30%;
    padding: 40px;
    background-color: wheat;
    flex-direction: column;
}

#close-export, #close-import {
    margin-bottom: 20px;
}

#export-target textarea, #import-target textarea {
    min-width: 500px;
    min-height: 400px;
}

#export-target.shown, #import-target.shown {
    display: flex;
}

#export-code, #import-code {
    font-family: monospace;
    font-size: 10px;
}
