body {
    margin: 0;
}

#patch-target {
    position: absolute;
    left: 0;
    top: 0;
}

.rpd-background {
    fill: transparent !important;
}

.fps {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
}
