body {
    margin: 0;
}

#patch-target {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: all;
}

.rpd-background {
    fill: transparent !important; /* FIXME: is it not possible to set it in RPD? */
    pointer-events: none;
}

.rpd-node-box {
    pointer-events: all;
}

.fps {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
}

/* .rpd-node.rpd-jb-layers .rpd-process text {
    dominant-baseline: hanging;
} */

.rpd-jb-palette-variant rect {
    stroke: black;
    stroke-width: 1px;
}

.rpd-jb-palette-variant.rpd-jb-active-variant rect {
    stroke: white;
}

text.rpd-jb-active-label {
    fill: white;
}

.rpd-patch text.rpd-jb-product-label {
    font-size: 8px;
}

#export-target, #import-target {
    display: none;
    position: absolute;
    top: 10%;
    left: 30%;
    padding: 40px;
    background-color: wheat;
    flex-direction: column;
}

#close-export, #close-import {
    margin-bottom: 20px;
}

#export-target textarea, #import-target textarea {
    min-width: 500px;
    min-height: 400px;
}

#export-target.shown, #import-target.shown {
    display: flex;
}

#export-code, #import-code {
    font-family: monospace;
    font-size: 10px;
}

svg.text-layer {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.overlay-panel {
    position: absolute;
    bottom: 5px !important;
    left: 0;
	right: 0;
	margin-left: auto;
 	margin-right: auto;
    /* left: 35.5%; */
    /* background-color: rgba(0, 0, 0, 0.6); */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif !important;
}


.import-export-panel {
    /* top: 10px;
    left: 10px; */
    z-index: 20;
}

.timeline_holder {
    margin-bottom: 20px;
}

.timeline {
    text-align: center;
    position: relative;
    top: 3px;
}

.overlay-panel .label {
    color: #aaa !important;

    font-size: 11px;
}

.overlay-panel .past {
    padding-right: 10px;
}

.overlay-panel .future {
    padding-left: 10px;
}

.export_html5 {
    position: relative;
    left: -5px;
    text-align: center;
    display: block;
    height: 32px;
    padding: 0 16px;
    background: #167dff;
    border: 0;
    font-size: 12px;
    color: #fff;
    margin: 0 auto;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    z-index: 1;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
}

.spacebar_info {
    color: #777;
    margin-top: 30px;
    font-size: 11px;
}

.text-layer--title, .text-layer--subtitle {
    font-family: 'Gotham', Helvetica, sans-serif;
    font-weight: 170;
    text-transform: uppercase;
    color: white;
}

.webgl-sample {
    position: absolute;
    top: 0;
    left: 0;
}

#js-save-buffer {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    /* border: 1px solid red; */
}

.dg.ac {
    z-index: 30 !important;
}
