body {
    margin: 0;
}

#patch-target {
    position: absolute;
    left: 0;
    top: 0;
}

.rpd-background {
    fill: transparent !important;
}

.fps {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
}

.rpd-node.rpd-jb-layers .rpd-process text {
    dominant-baseline: hanging;
}

.rpd-background {
    pointer-events: none;
}

.rpd-jb-palette-variant rect {
    stroke: black;
    stroke-width: 1px;
}

.rpd-jb-palette-variant.rpd-jb-active-variant rect {
    stroke: white;
}

text.rpd-jb-active-label {
    fill: white;
}

.rpd-patch text.rpd-jb-product-label {
    font-size: 8px;
}
