apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ app_name }}-nginx-conf
data:
  nginx.conf: |
    user  nginx;
    worker_processes  {{ nginx_worker_process }};

    error_log  /var/log/nginx/error.log warn;
    pid        /var/run/nginx.pid;

    events {
        worker_connections {{ nginx_worker_connections }};
    }

    http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;

        log_format  main '{"remote_addr":"$remote_addr","remote_user":"$remote_user","time_local":"$time_local","time_msec":"$msec","request":"$request","status":$status,"host":"$host","request_time":$request_time,"upstream_response_time":"$upstream_response_time","body_bytes_sent":$body_bytes_sent,"http_referer":"$http_referer","http_user_agent":"$http_user_agent","request_id":"$http_x_request_id","upstream_request_id":"$upstream_http_x_request_id"}';

        access_log  /proc/1/fd/1  main;
        error_log /proc/1/fd/1 error;

        sendfile        on;
        tcp_nopush     on;

        keepalive_timeout  65;

        #gzip  on;

        include /etc/nginx/conf.d/*.conf;
    }
